<div class="container-fluid text-center">
    <h1 mat-dialog-title class="text-center" style="font-family: amaranth-bold;">Felicidades</h1>
    <img src="../../assets/images/circles-colors.svg" class="text-center" style="margin-top: -5%;" alt="" width="100" height="40">
</div>


<!-- <div class="text-center">
    <img src="../../assets/images/franja.png" alt="" width="900" height="6">
    <img src="../../assets/images/circles-colors.svg" alt="" width="100" height="40">

</div> -->
<mat-dialog-content class="mat-typography" style="font-family: amaranth-regular;">
    <h2 class="text-center">Estas a pocos minutos de tener una cuenta en el Banco Alemán en Ecuador,</h2>
    <h2 class="text-center">donde rentabilizarás tus ahorros con la mejor tasa de interés del mercado</h2>
    <h2 class="text-center"> al 3.50 % anual, sin restricción de monto y plazo.</h2>
    <h2 class="text-center">Solo descarga nuestra app y en pocos minutos abrirás tu cuenta.</h2>

</mat-dialog-content>
<div class="container-flui text-center">
    <div class="btn-group" role="group" aria-label="Basic example" style="display: block !important;">
        <a href="https://play.google.com/store/apps/details?id=bancoprocredit.ecuador.procreditmovil&amp;hl=es_HN" target="_blank" style="margin-right: 1%;">
            <img src="../../assets/images/playstore.svg" alt="" width="100" height="40">
        </a>
        <a href="https://apps.apple.com/ec/app/banco-procredit-ecuador/id1529010293" target="_blank" style="margin-right: 1%;">
            <img src="../../assets/images/apple.svg" alt="" width="100" height="40">
        </a>
        <a href="https://appgallery.huawei.com/#/app/C103095315?locale=es_US&source=appshare&subsource=C103095315" target="_blank">
            <img src="../../assets/images/huawei.svg" alt="" width="100" height="40">
        </a>
    </div>

</div>


<mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close cdkFocusInitial style="font-family: amaranth-bold;">Cerrar</button> -->
    <!-- <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button> -->
    <button class=" boton-lq-cliente third1" mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>


    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Tienda</button> -->


</mat-dialog-actions>
